body {
	font-family: Arial;
	font-size: 20px;
}

section {
	background-color: #00d9ff;
	border-radius: 10px;
	text-align: center;
	border: 2px solid black;
}

section#intro {
	background-color: #d6e6d9;

}

section#blenders {
	background-color: #d6e6d9;
}

section#ingredients {
	background-color: #d6e6d9;
}

section#directions {
	background-color: #d6e6d9;
}

section#shopping {
	background-color: #d6e6d9;
}

table {
	width: 100%;
}

form {
	font-size: 14px;
	margin: auto;
	position: relative;
	width: 250px;
	text-align: left;
}

form span label:hover {
	border-radius: 10%; 
	border: 2px solid black;
}

h1 {
	font-size: 80px;
	text-shadow: 2px 2px 8px #00ff26;
	transition: 2s ease-in-out;
}

h1:hover {
	transform: rotate(10deg);
}

/* style the directions accordion */
#instructions {
	width: 450px;
	margin: auto;
}

#instructions .ui-accordion-content {
	width:  100%;
	background-color: #f3f3f3;
	color: #777;
	font-size: 14px;
}  

#instructions .ui-accordion-header  {
	text-align: center;
}

#instructions .ui-accordion-header:hover  {
	text-decoration: underline;
}

#instructions .ui-accordion-header:first-of-type {
    background-color: #ECEBD9 ;
    background-image: linear-gradient(to bottom,  #ECEBD9  0%,#DC9974 100%); /* W3C */
}

#instructions .ui-accordion-header:nth-of-type(2) {
    background-color: #C7E1EA ;
    background-image: linear-gradient(to bottom,  #C7E1EA  0%,#638896 100%); /* W3C */
}

#instructions .ui-accordion-header:nth-of-type(3) {
    background-color: #EAB4C5 ;
    background-image: linear-gradient(to bottom,  #EAB4C5  0%,#F16794 100%); /* W3C */
}

#instructions .ui-accordion-header:last-of-type {
    background-color: #E5EAAB ;
    background-image: linear-gradient(to bottom,  #E5EAAB  0%,#768A0A 100%);
    }


.img-circle {
	border-radius: 50%;
	border: 2px solid black;
	box-shadow: 0 0 32px rgba(0, 0, 0, .8);
}

.img-rotate {
	transform: rotate(90deg);
}

.img-scale {
	transition: 0.2s ease-in-out;
	box-shadow: 0 0 32px rgba(0, 0, 0, .8);
}

.img-scale:hover{
	transform: scale(1.4);
}

.green {
	background-color: #87e087;
}

.red {
	background-color: #e87878
}

.orange {
	background-color: #f1b64e;
}
